.night {
    background-color: rgb(38, 47, 61);
    fill: rgba(33, 42, 55, 0.5);
    color: white;
}

.day {
    background-color: white;
    fill: rgba(237,237,237, 0.5);
    color: black;
}

.graph .labels.x-labels {
    text-anchor: middle;
}
  
.graph .labels.y-labels {
    text-anchor: initial;
}

.graph {
    /* height: 600px;
    width: 600px; */
    margin: 0 auto;
    cursor: pointer;
}

.graph .grid {
    stroke: rgb(224, 230, 234);
    stroke-dasharray: 0;
    stroke-width: 1;
}

.labels {
    font-size: 16px;
    text-align: left;
    fill: rgb(224, 230, 234)
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: rgb(224, 230, 234);
}

.data {
    fill: red;
    stroke-width: 1; 
}

.button {
    border: none;
    color: #0088CC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

/*Animations */

.sliding {
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}